/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr{list-style:none;margin:0;padding:0;},th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}

/* General Stuff */
#body{
font-family: 'Roboto', sans-serif;
}

.clear{ /* clear float */
	clear:both;
	}

.wrap {
		max-width: 1024px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
}

/* fold1 background */
.fold1background {
	position: relative;
	overflow: hidden;
	margin-right: 0;
	width: 100%;
	background-image: url('./images/Fold1.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

#backgroundvideo {
	width: 100%;
	max-height: 560px;
}

video#bgvid {
	width: 100%; height: auto;
	z-index: -10;
	overflow: hidden;
}

/*menu bar*/
.menuBar {
	width: 100%;
	height: 60px;
	position: fixed;
	top: 0px;
	z-index: 15;
	padding-right: 0px;
	margin-right: 0;
	color: #fff;
} 

.light-menuBar {
	width: 100%;
	position: fixed;
	top: 0px;
	z-index: 15;
	padding-right: 0px;
	margin-right: 0;
	background-color: #fff;
	opacity: 1;
	color: #000;
}

#logo {
	background-image: url('../images/LumosFinalLogo1.png');
	margin-top: 15px;
	background-repeat: no-repeat;
	padding-left: 25px;
	padding-top: 10px;
	float: left;
	height: 40px;
	width: 165px;
}

.menuBar li {
    display: inline-block;
}

.light-menuBar li {
    display: inline-block;
}

.nav {
	padding-top: 10px;
	padding-bottom: 10px;
	float: right;
	display: block;
}
.nav ul {
    
}

.menuBar li a{
	color: #fff;
}

.light-menuBar li a{
	color: #000;
}

.nav li a{
	display:block;
	margin-right:15px;
	margin-left: 15px;
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 5px;
	margin-top: 5px;
 	font-family: 'Roboto';
 	font-size: 16px;
 	font-weight: 300;
 	text-decoration: none;
}

.preorder a:hover{
	color: #fff;
	opacity: 1;
}

.preorder a {
 	color:#fff !important;
 	text-decoration: none;
 	border-width: 2px;
 	padding: 5px;
 	background: rgba(0,208,255,0.75);
	-moz-box-shadow:    0px 2px 0px 0px rgba(0,169,207,0.60);
	box-shadow:         0px 2px 0px 0px rgba(0,169,207,0.60);
	opacity: 0.8;
}

/* IndexHTML fold 1 */

.fold1 {
	text-align: center;
	margin: 0 auto;
	position: absolute; /*Needs a fix*/
	top: 150px;
	z-index: 13;
	display: inline-block;
}
#fold1image{
	float: left;
}
#fold1desc{
	float: left;
	text-align: left;
	padding-left: 40px;
}
 #tagline {
 	font-family: 'Roboto';
 	padding-top: 70px;
 	font-size: 64px;
 	font-weight: 700;
 	color:#fff;
 	text-shadow: 0px 4px 8px rgba(0,0,0, 0.5);
 }
 #taglinesmall {
 	padding-top: 20px;
 	font-family: 'Roboto';
 	font-size: 32px;
 	font-weight: 300;
 	color:#fff;
 	text-shadow: 0px 2px 2px rgba(0,0,0, 0.5);	
 }

 #fold1button {
 	font-family: 'Roboto';
 	font-size: 24px;
 	font-weight: 300;
 	color: #fff;
 	margin: 20px;
 	margin-top: 100px;
 	padding: 20px;
 	padding-left: 40px;
 	padding-right: 40px;
 	background: none;
 	border-style: solid; 
 	border-color: #fff;
 	border-width: 3px;
 	border-radius: 5px;
 }
/* IndexHTML fold 2 */
#fold2{
	text-align: center;
}
#fold2tagline{
	padding-top: 80px;
	font-family: 'Roboto';
 	font-size: 40px;
 	font-weight: 400;
 	color: #494040;
}

#fold2image{
	padding-top: 50px;

}

#fold2desc{
	padding-top: 50px;
	font-family: 'Roboto';
 	font-size: 24px;
 	font-weight: 300;
 	color: #8c8c8c;
 	max-width: 800px;
 	margin: auto;
 	padding-bottom: 50px;
}

/* IndexHTML fold 3 */
#fold3 {
	background-image: url('../images/Usecase1.jpg');
	text-align: left;
	background-size: cover;
}

#fold3content {
	text-align: center;
	max-width: 650px;
	padding-bottom: 90px;
}
#fold3 h1{
	text-align: center;
	font-family: 'Roboto';
	font-size: 40px;
	font-weight: 500;
	padding-top: 100px;
	padding-bottom: 50px;
	color: #8c8c8c;
}

#fold3 img{
	text-align: center;
}
/* IndexHTML fold 4 */
#fold4 {
	background-image: url('../images/Usecase2.jpg');
	text-align: right;
	background-size: cover;
}

#fold4content {
	text-align: center;
	margin-right:0;
	margin-left: 474px; 
	max-width: 550px;
	padding-bottom: 90px;
}
#fold4 h1{
	text-align: center;
	font-family: 'Roboto';
	font-size: 40px;
	font-weight: 500;
	padding-top: 100px;
	padding-bottom: 50px;
	color: #fff;
}

#fold4 img{
	text-align: center;
}

/* IndexHTML fold 5 */
#fold5{
	text-align: center;
	margin-bottom: 100px;
}
#fold5tagline {
 	font-family: 'Roboto';
 	font-size: 40px !important;
 	font-weight: 500 !important;
 	color:#494040 !important;
 	padding-top: 50px !important;
 	padding-bottom: 50px !important;
}
#fold5image1{
	background-image: url('../images/Fold4_1.jpg');
	background-repeat: no-repeat;
}

#fold5image1 :hover{
}

#fold5image2{
background-image: url('../images/Fold4_2.jpg');
background-repeat: no-repeat;
}

#fold5image3{
background-image: url('../images/Fold4_3.jpg');
background-repeat: no-repeat;
}

#fold5 li {
    display: inline-block;
    text-align: center;
    max-width: 300px;
    margin:15px;
}

#fold5 h3 {
	background-color: rgba(0,0,0,0.2);
	text-align: center;
	width: 160px;
	margin: 0 auto;
	font-family: 'Roboto';
 	font-size: 16px;
 	font-weight: 300;
 	color:#fff;
}

#fold5 h1{
	font-family: 'Roboto';
 	font-size: 28px;
 	font-weight: 300;
 	color:#fff;
 	padding-top: 270px;
}

#fold5 p{
	font-family: 'Roboto';
 	font-size: 16px;
 	font-weight: 300;
 	color:#fff;
 	max-width: 270px;
 	margin-left: 15px;
 	margin-right: 15px;
 	padding-top: 20px;
 	margin-bottom: 10px;
}

#fold5 a{
	color: #fff;
	font-size: 12px;
}

#fold5list {
	text-align: center;
	display: block;
}

/* IndexHTML fold 6 */
#fold6{
	background: -o-radial-gradient(0% 100%, rgba(255,255,255,0.50) 0%, #000000 100%);
	background: -moz-radial-gradient(0% 100%, rgba(255,255,255,0.50) 0%, #000000 100%);
	background: -ms-radial-gradient(0% 100%, rgba(255,255,255,0.50) 0%, #000000 100%);
	background: radial-gradient(0% 100%, rgba(255,255,255,0.50) 0%, #000000 100%);
	background: #09C4EE;
}

#fold6image{
	float:left;
	margin-top: 50px;
	height: 512px;
	width: 300px;
}






#slideshow{
            margin:0 auto;
            width:300px;
            height:512px;
            overflow: hidden;
            position: relative;
        }

        #slideshow ul{
            list-style: none;
            margin:0;
            padding:0;
            position: absolute;
        }

        #slideshow li{
            float:left;
        }

        #slideshow a:hover{
            background: rgba(0,0,0,0.8);
            border-color: #000;
        }

        #slideshow a:active{
            background: #990;
        }

        .slideshow-prev, .slideshow-next{
            position: absolute;
            top:180px;
            font-size: 30px;
            text-decoration: none;
            color:#fff;
            background: rgba(0,0,0,0.5);
            padding: 5px;
            z-index:2;
        }
        
        .slideshow-prev{
            left:0px;
            border-left: 3px solid #fff;
        }

        .slideshow-next{
            right:0px;
            border-right: 3px solid #fff;
        }












.listimage1{
	background-image: url('../images/List1.png');
	background-repeat: no-repeat;
	background-size: 60px;
	float: left;
	padding-left: 100px;
	padding-bottom: 20px;
	padding-top: 0px;
	margin-top: 40px;
	margin-bottom: 30px;
	margin-left: 50px;
	max-width: 550px;
}
.listimage2{
	background-image: url('../images/List2.png');
	background-repeat: no-repeat;
	background-size: 60px;
	float: left;
	padding-left: 100px;
	padding-bottom: 20px;
	padding-top: 0px;
	margin-top: 20px;
	margin-bottom: 30px;
	margin-left: 50px;
	max-width: 550px;
}

.listimage3{
	background-image: url('../images/List3.png');
	background-repeat: no-repeat;
	background-size: 60px;
	float: left;
	padding-left: 100px;
	padding-bottom: 20px;
	padding-top: 0px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 50px;
	max-width: 550px;
}

#fold6list {
	padding-top: 100px;
	padding-left: 50px;
	font-family: 'Roboto';
 	font-size: 24px;
 	font-weight: 300;
 	color: #fff;
 	padding-bottom: 461px;
}

.listimage1 :hover{
	font-weight: 400 !important;
	background-image: url('../images/List1_1.png') !important;
	background-repeat: no-repeat;
	background-size: 60px !important;
	margin-left: -100px;
	padding-left: 100px;
	padding-bottom: 30px;
	padding-top: 0px;
	margin-top: 20px;
	margin-bottom: 20px;
	max-width: 550px;
}

.listimage2 :hover{
	font-weight: 400 !important;
	background-image: url('../images/List2_2.png') !important;
	background-repeat: no-repeat;
	background-size: 60px;
	margin-left: -100px;
	padding-left: 100px;
	padding-bottom: 30px;
	padding-top: 0px;
	margin-top: 20px;
	margin-bottom: 20px;
	max-width: 550px;
}

.listimage3 :hover{
	font-weight: 400 !important;
	background-image: url('../images/List3_3.png') !important;
	background-repeat: no-repeat;
	background-size: 60px;
	margin-left: -100px;
	padding-left: 100px;
	padding-bottom: 30px;
	padding-top: 0px;
	margin-top: 20px;
	margin-bottom: 20px;
	max-width: 550px;
}

/* IndexHTML fold 7 */
#fold7 h1{
	font-family: 'Roboto';
	font-size: 40px;
	font-weight: 500;
	text-align: center;
	color: #494040;
	padding-top: 80px;
	padding-bottom: 50px;
}

#fold7 tr{
	height: 200px;
}

.customercomment {
	vertical-align: top;
}
.comment {
	text-align: left;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 20px;
	padding-bottom: 40px;
	font-family: 'Roboto';
	font-size: 22px;
	font-weight: 300;
	color: #494040;
	line-height: 150%;	
}

.comment span{
	font-family: 'Roboto';
	font-size: 22px;
	font-weight: 300;
	color: #09C4EE;	
}

.customerimage {
}

/* footer */
.footer {
	background-color: #3b3b3b;
	padding-bottom: 20px;
}

.mc_embed_signup {
	padding-top: 50px;
	float: left;
}

.mc-field-group {
	display: inline;
}

.mc-field-group label{
	font-family: 'Roboto';
	font-size: 20px;
	font-weight: 300;
	color: #fff;
	padding-top: 10px;
}

.button {
	font-family: 'Roboto';
	font-size: 16px;
	height: 28px;
	font-weight: 300;
 	color: #fff;
 	border-radius: 2px;
	border-width: 0px;
 	padding-left: 20px;
 	padding-right: 20px;
 	margin-left: 10px;
	text-align: center;
 	background: rgba(0,208,255,0.8);
}

.mc-field-group input{
	width: 150px;
	height: 20px;
	margin-left: 30px;
	border-radius: 2px;
	font-family: 'Roboto';
	font-size: 16px;
	font-weight: 300;
}
.social {
	padding-top: 50px;
	display: inline-flex;
	float: right;
}
.facebook {
	margin-right: 20px;
	border-radius: 5px;
}
.facebook iframe{
transform: scale(1.5);
-ms-transform: scale(1.5); 
-webkit-transform: scale(1.5); 
-o-transform: scale(1.5); 
-moz-transform: scale(1.5); 
transform-origin: top left;
-ms-transform-origin: top left;
-webkit-transform-origin: top left;
-moz-transform-origin: top left;
-webkit-transform-origin: top left; 
}

.twitter {
	margin-right: 20px;
}

.blog a {
	text-decoration: none;
	font-family: 'Roboto';
	font-size: 18px;
	height: 30px;
	font-weight: 300;
 	color: #f4f4f4;
 	border-radius: 3.5px;
	border-width: 0px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 5px;
	text-align: center;
 	background: rgba(0,208,255,0.8);
}

.contact {
	padding-top: 120px;
	text-align: center;
}

.contact p{
	font-family: 'Roboto';
	font-size: 14px;
	font-weight: 300;
	color: #f4f4f4;
}

.contact a{
	font-size: 14px;
	font-weight: 300;
	color: #f4f4f4;
	text-decoration: underline;
}
/*Business Solutions Page*/
#businesssolfold1{
	background-image: url('../images/Bus_Sol_FirstFold.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 150px;
	padding-bottom: 410px;
}

#businesssolfold1 h1{
	font-family: 'Roboto';
	font-size: 55px;
	font-weight: 300;
	padding-top: 40px;
	padding-bottom: 20px;
	color: #424242;
}

#businesssolfold1 p{
	font-family: 'Roboto';
	font-size: 20px;
	font-weight: 300;
	padding-bottom: 30px;
	color: #424242;
}

#businesssolfold1_container{
	float: right;
	margin-right: 0 auto;
}


/*
#businesssolfold2container{
	background-image: url('../images/untitled.png');
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 50px;
	padding-bottom: 500px;
}*/

#businesssolfold2 h1{
	padding-top: 80px;
	font-family: 'Roboto';
 	font-size: 40px;
 	font-weight: 400;
 	color: #494040;
	text-align: center;
}

#businesssolfold2 table {
	margin-top: 50px;
	vertical-align: middle;
	width: 100%;
	margin-bottom: 80px;
}

#businesssolfold2 td {
	width: 50%;
	padding-right: 20px;
	padding-left: 20px;
}


#businesssolfold2 img {
	vertical-align: middle;
	float: left;
	display: block;
	padding-right: 10px;
}

#businesssolfold2 h2{
	font-family: 'Roboto';
 	font-size: 40px;
 	font-weight: 400;
 	color: #10aacc;
}

#businesssolfold2 li{
	padding-top: 20px;
	font-family: 'Roboto';
 	font-size: 26px;
 	font-weight: 300;
 	color: #999999;
 	line-height: 150%;
}

#businesssolfold3 {
	background-color: #2e2e2e;
	text-align: center;
	padding-bottom: 80px;
}

#businesssolfold3 td{
	margin-right: 30px;
}
#businesssolfold3 h1{
	padding-top: 80px;
	padding-bottom: 80px;
	font-family: 'Roboto';
 	font-size: 40px;
 	font-weight: 400;
 	color: #fff;
	text-align: center;
}

#businesssolfold3 h2{
	padding-top: 25px;
	padding-bottom: 10px;
	font-family: 'Roboto';
 	font-size: 30px;
 	font-weight: 400;
 	color: #fff;
	text-align: center;
}

#businesssolfold3 img{
	text-align: center;
}

#businesssolfold3 p{
	font-family: 'Roboto';
 	font-size: 18px;
 	font-weight: 300;
 	color: #8a8a8a;
 	padding-left: 20px;
 	padding-right: 20px;
	text-align: center;
}

#businesssolfold4 {
	background-image: url('../images/bg-img-1.png');
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	padding-bottom: 80px;
}

#businesssolfold4 h1{
	padding-top: 100px;
	padding-bottom: 80px;
	font-family: 'Roboto';
 	font-size: 40px;
 	font-weight: 400;
 	color: #fff;
	text-align: center;
}

#businesssolfold4 td{
	text-align: center;
	width: 33%;
}

#businesssolfold4 h2{
	padding-top: 50px;
	padding-bottom: 20px;
	font-family: 'Roboto';
 	font-size: 80px;
 	font-weight: 400;
 	color: #fff;
	text-align: center;
}

#businesssolfold4 p{
	font-family: 'Roboto';
 	font-size: 20px;
 	font-weight: 300;
 	color: #fff;
 	padding-left: 20px;
 	padding-right: 20px;
	text-align: center;
}

#businesssolfold4 button{
	margin-top: 100px;
	width: 550px;
	height: 80px;
	font-family: 'Roboto';
	border-width: 2px;
	border-color: rgb(0,208,255);
	border-radius: 5px;
 	font-size: 22px;
 	font-weight: 300;
 	color: #fff;
 	padding-left: 20px;
 	padding-right: 20px;
	text-align: center;
 	background: rgba(0,208,255,0.8);
	-moz-box-shadow:    0px 1.5px 0px 0px rgba(0,169,207,0.60);
	box-shadow:         0px 1.5px 0px 0px rgba(0,169,207,0.60);
	opacity: 1;

}